<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-setting-menus-edit">
		<div class="modal-content">
			<div class="panel-body">
				<div class="row">
	<div class="col-sm-12">
		<!-- <div class="console-title console-title-border clearfix">
			<div class="pull-left">
				<h5 class="pull-left">订单详情</h5>
				<a class="btn btn-xs btn-toinstlist pull-left">
					<span class="icon-toinstlist"></span>
					<span ng-click="ordersModelBack()">返回列表</span>
				</a>
			</div>
		</div> -->

		<!-- <div class="form-group" style="padding-top: 10px;">
				<button ng-if=" row.freight.status == '1' && row.pay_status == '1'  && row.status == '1'" type="button" class="btn btn-primary" ng-click="ordersShip(row.id,index)">发货</button>
				<button ng-if=" row.pay_status == '0' && row.status =='1' " type="button" class="btn btn-primary" ng-click="ordersChangeFreightFare(row)">修改运费</button>
				<button ng-if=" row.pay_status == '1' && row.freight.status =='2' && row.status == '1'" class="btn btn-primary" ng-click="ordersEditShip(row.id,index)">修改物流</button>
				<button ng-if=" row.status == '1' && row.pay_status == '0' " class="btn btn-primary" type="button" ng-click="ordersClose(row.id,index,row.type)">关闭订单</button>
				<button ng-if=" row.status == '0' && row.del_status == '0' " type="button" class="btn btn-primary" ng-click="ordersDel(row.id,index)">删除订单</button>
				<button type="button" class="btn btn-primary" ng-click="ordersRemark(row.order_sn,index)">订单备注</button>
		</div> -->
		

		<!--basic-group-info 市集订单详情-->
		<div class="console-sub-title clearfix">
		<div class="pull-left">
			<h5>
				<span >订单概要
					<span ng-if="row.pay_status==1">
					<!-- 	<span ng-if="row.is_abnormal == 1" style="color:red">(支付金额跟订单金额不一致)</span>
					<span ng-if="row.is_abnormal ==-1" style="color:blue">(未查找到支付信息，请进一步核对后可以发货)</span>
					<span ng-if="row.is_abnormal == 0" style="color:green">(正常订单,可以发货)</span> -->
					</span>
				</span>
			</h5>
		</div>
		</div>
		<table class="table table-bordered">
		<tbody>
			<tr>
				<td width="30%">
					<span class="form-label">
						<span>订单编号</span>:
					</span>
					<span class="value">{$data['orders']['order_sn']}</span>
				</td>
				<td colspan="2" width="70%">
					<span class="form-label">
						<span>下单时间</span>:
					</span>
					<span class="value">{F:date('Y-m-d H:i:s',$data['orders']['created'])}</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="form-label">
						<span>审核状态</span>:
					</span>
					<span class="value">{$other['orderStatusCopy'][$data['orders']['order_status']]}</span>
				</td>
				<td>
					<span class="form-label">
						<span>订单状态</span>:
					</span>
					<span class="value">{$other['statusCopy'][$data['orders']['status']]}</span>
				</td>
				<td>
					<span class="form-label">
						<span>订单总价</span>:
					</span>
					<span class="value">{$data['orders']['acount']}</span>
				</td>
			</tr>
			<tr>
				<td>
					<span class="form-label">
						<span>买家昵称</span>:
					</span>
					<span class="value">{$data['user']['nickname']}</span>
				</td>
				<td>
					<span class="form-label">
						<span>手机号码</span>:
					</span>
					<span class="value">{$data['user']['mobile']}</span>
				</td>
				<td>
					<span class="form-label">
						<span>卖家昵称</span>:
					</span>
					<span class="value">{$data['seller']['nickname']}</span>
				</td>
			</tr>
		</tbody>
		</table>
		<!--/basic-group-info-->


		<!--start-->
		<div class="basic-group-info mt16">
			<div class="console-sub-title clearfix">
				<div class="pull-left">
					<h5>
						<span>订单详情</span>
					</h5>
				</div>
			</div>
			<div class="form-wrap clearfix">
				<div class="form-group" ng-if="row.amount_discount != row.amount_original">
					<div class="row">
						<label class="control-label col-sm-2 text-right">买家留言:</label>
						<span>{$data['orders']['message']}</span>
					</div>
				</div>
				<!-- <div class="form-group" ng-if="row.amount_discount != row.amount_original">
					<div class="row">
						<label class="control-label col-sm-2 text-right">订单原始金额:</label>
						<span ng-bind="row.amount_original"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.amount_discount != row.amount_original">
					<div class="row">
						<label class="control-label col-sm-2 text-right">商品折扣金额:</label>
						<span ng-bind="row.amount_discount"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.amount_discount == row.amount_original">
					<div class="row">
						<label class="control-label col-sm-2 text-right">订单金额:</label>
						<span ng-bind="row.amount_discount"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.freight_fare != '0.00'">
					<div class="row">
						<label class="control-label col-sm-2 text-right">运费价格:</label>
						<span ng-bind="'+ ' + row.freight_fare"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.coupon_price != '0.00'">
					<div class="row">
						<label class="control-label col-sm-2 text-right">抵扣券价格:</label>
						<span ng-bind="'- ' + row.coupon_price"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="control-label col-sm-2 text-right">实付总价:</label>
						<span ng-bind="row.amount"></span>
					</div>
				</div> -->
			</div>
		</div>


		<!--console-form-->
		<div class="console-form">
			<div class="mt8">
				<form action="#" method="post">
					<table class="table table-hover">
						<thead ng-if="row.type != '11'">
							<tr>
								<th>ID</th>
								<th>商品名称</th>
								<!-- <th>规格</th> -->
								<th>价格</th>
							 	<th>数量</th>
								<th>商品总价</th>
							</tr>
						</thead>
						<tbody>
							{loop $data['goods'] $key $value}
							<tr>
								<td>{$value['goods_id']}</td>
								<td><a href="javascript:;">{$value['title']}</a></td>
								{if $value['is_modify']}
								<td><s> {{vo.price_original}}</s> {{vo.price}}(改)</td>
								{else}
								<td>{$value['price']}</td>
								{/if}
								<td>1</td>
								<td>{$value['price']}</td>
							</tr>
							{/loop}
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<!--/console-form-->
		
		<!--礼品-form-->
		<!-- <div class="console-form" ng-if="data.zhongchou.goodsList != null">
			<div class="mt8">
				<form action="#" method="post">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>商品名称</th>
								<th>规格</th>
								<th>数量</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="vo in data.zhongchou.goodsList">
								<td ng-bind="vo.goods_id"></td>
								<td><a href="{{goods_url}}{{vo.goods_id}}" ng-bind="vo.goods_name" target="_blank"></a></td>
								<td ng-bind="vo.spec"></td>
								<td ng-bind="vo.num"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div> -->
		<!--/console-form-->

	

		<!--收货人信息-form-->
		<!-- <div class="basic-group-info mt16">
			<div class="console-sub-title clearfix">
				<div class="pull-left">
					<h5>
						<span>收货人信息</span>
					</h5>
				</div>
			</div>
			<div class="form-wrap clearfix">
				<div class="form-group">
					<div class="row">
						<label class="control-label col-sm-2 text-right">收货人:</label>
						<span ng-bind="row.freight.name"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="control-label col-sm-2 text-right">收货人电话:</label>
						<span ng-bind="row.freight.mobile"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="control-label col-sm-2 text-right">收货地址:</label>
						<span><span ng-if="row.freight.area != ''" ng-bind="row.freight.area"></span><span ng-bind="row.freight.address"></span></span>
					</div>
				</div>
				<div class="form-group" ng-if="!row.freight.postcode">
					<div class="row">
						<label class="control-label col-sm-2 text-right">邮政编码:</label>
						<span ng-bind="row.freight.postcode"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.message != ''">
					<div class="row">
						<label class="control-label col-sm-2 text-right">买家留言:</label>
						<span ng-bind="row.message"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.invoice.payee">
					<div class="row">
						<label class="control-label col-sm-2 text-right">发票抬头:</label>
						<span ng-bind="row.invoice.payee"></span>
					</div>
				</div>
				<div class="form-group" ng-if="row.invoice.taxpayer_code">
					<div class="row">
						<label class="control-label col-sm-2 text-right">税务登记号:</label>
						<span ng-bind="row.invoice.taxpayer_code"></span>
					</div>
				</div>
			</div>
		</div>
		 -->
		<!--start-->
		<!-- <div class="basic-group-info mt16" ng-if="row.status == '0' ">
			<div class="console-sub-title clearfix">
				<div class="pull-left">
					<h5>
						<span>关闭订单</span>
					</h5>
				</div>
			</div>
			<div class="form-wrap clearfix">
				<div class="form-group">
					<div class="row">
						<label class="control-label col-sm-2 text-right">关闭原因:</label>
						<span ng-bind="close_order_reason[row.reason]"></span>
					</div>
				</div>
			</div>
		</div> -->

		<!--basic-group-info 市集订单详情-->
		<!-- <div class="basic-group-info mt16" >
			<div class="console-sub-title clearfix">
				<div class="pull-left">
					<h5>
						<span>订单备注</span>
					</h5>
				</div>
			</div>
			<table class="table table-bordered">
				<tbody ng-repeat="vo in row.ordersRemark" style="border: 0px;">
					<tr>
						<td>
							<span class="form-label" >
								<span>备注用户</span>:
							</span>
							<span class="value" ng-bind="vo.nickname"></span>
						</td>
						<td>
							<span class="form-label">
								<span>创建时间</span>:
							</span>
							<span class="value" ng-bind="vo.created * 1000 | date:'yyyy-MM-dd HH:mm:ss'"></span>
						</td>
						<td>
							<span class="form-label">
								<span>备注类型</span>:
							</span>
							<span class="value" ng-bind="orders_remark[vo.type]"></span>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<span class="form-label">
								<span>备注内容</span>:
							</span>
							<span class="value" ng-bind="vo.content"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div> -->
		<!--/basic-group-info-->
	
	</div>
</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btn-close">关闭</button>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">

	</script>
</body>
</html>