<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-edit">
		<div class="modal-content">
			<form class="form-horizontal" role="form" action="">
				<input type="hidden" value="{??$column_id}" name="column_id">
				<input type="hidden" value="{??$data['model_id']}" name="model_id">	
				<div class="panel-body">
					<fieldset>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span for="myDate">所属栏目</span>
							</label>
							<div class="col-sm-8">
								<select data-selected="{??$data['column_id']}" name="column_id" class="form-control w160">
									{loop $other['columnListCopy'] $key $value}
	                               		<option value="{$key}">{$value}</option>
	                            	{/loop}
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>关联老师</span>
							</label>
							<div class="col-sm-8">
								<select data-selected="{??$data['teacher_uid']}" name="info[teacher_uid]" class="form-control w160">
									<option value="0">选择授课老师</option>
									{loop $other['teacherList'] $key $value}
	                               		<option value="{$value['id']}">{$value['real_name']}</option>
	                            	{/loop}
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程名称中文</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['title']}" name="title" placeholder="课程名称"  required class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程名称英文</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['btitle']}" name="btitle" placeholder="课程名称"  required class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>上课时间中文[文案]</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['class_time']}" name="info[class_time]" placeholder="上课时间中文"  required class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>上课时间英文[文案]</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['class_time_en']}" name="info[class_time_en]" placeholder="上课时间英文"  required class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程时间[课时数]</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['num']}" name="info[num]" placeholder="课程时间" class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>可获课程学分</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['credit']}" name="info[credit]" placeholder="可获课程学分"  required class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>售卖价格</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['sale_price']}" name="info[sale_price]" placeholder="售卖价格" class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>活动价格</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['dis_price']}" name="info[dis_price]" placeholder="活动价格" class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>购买人数基数</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['base_orders']}" name="info[base_orders]" placeholder="购买人数基数" class="form-control">	
							</div>
						</div>
						<!-- <div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程开始时间</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['start_time']}" name="info[start_time]" class="form-control data-time">	
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程结束时间</span>
							</label>
							<div class="col-sm-8">
								<input type="text" value="{??$data['end_time']}" name="info[end_time]" class="form-control data-time">		
							</div>
						</div> -->
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>班级特色</span>
							</label>
							<div class="col-sm-8">
								{loop $other['featuredCopy'] $key $value}
									<label class="checkbox-inline">
										<input type="checkbox" class="checkbox" value="{$key}" name="info[characteristics][]" config-checked='{F:json_encode(explode(',',$data['characteristics']))}'>{$value}
									</label>
								{/loop}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>老师课时类型</span>
							</label>
							<div class="col-sm-8">
								<select data-selected="{??$data['teacher_hour_type']}" name="info[teacher_hour_type]" class="form-control w160">
									<option value="">选择课时类型</option>
									{loop $other['teacherHourType'] $key $value}
                               			<option value="{$key}">{$value}</option>
                               		{/loop}
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程类型</span>
							</label>
							<div class="col-sm-8">
								<select data-selected="{??$data['class_type']}" name="info[class_type]" class="form-control w160">
                               		<option value="1">一对一</option>
                               		<option value="2">一对多</option>
                               		<option value="3">视频课件</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger">*</span>
								<span>上传文件</span>
							</label>
							<div class="col-sm-1">
								<a class="btn btn-primary pull-left btn-files" data-name="video_url" data-value='{??$data['video_url']}' data-path="test" data-max="1">添加文件</a>
							</div>
							<div class="col-sm-8">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>课程安排</span>
							</label>
							<div class="col-sm-8" id="course">
							{if $other['schedule']}
								{loop $other['schedule'] $key $value}
									<div class="container-fluid time" style="padding-bottom: 10px;">
										<div class="col-sm-3 pull-left">
											<input type="text" value="{$value['start_time']}" name="start_syllabus[]"  class="form-control data-time" data-format="yyyy-MM-dd HH:mm" data-type="datetime" >	
										</div>
										<div class="col-sm-3 pull-left">
											<input type="text" value="{$value['end_time']}" name="end_syllabus[]"  class="form-control data-time" data-format="yyyy-MM-dd HH:mm" data-type="datetime" placeholder="课程结束时间">	
										</div>
										<div class="col-sm-1 pull-left">
											<input type="text" value="{$value['credit']}" name="credit[]"  class="form-control" placeholder="学分">	
										</div>

										<div class="col-sm-2 pull-left">
											<input type="text" value="{$value['teacher_hour']}" name="teacher_hour[]"  class="form-control" placeholder="老师可得课时">
										</div>
										<div class="col-sm-3">
											<a class="btn btn-primary add-syllabus">添加</a>
											<a class="btn btn-primary del-add-syllabus">删除</a>
										</div>
									</div>
								{/loop}
							{else}
								<div class="container-fluid time" style="padding-bottom: 10px;">
									<div class="col-sm-3 pull-left">
										<input type="text" value="" name="start_syllabus[]"  class="form-control data-time" data-format="yyyy-MM-dd HH:mm" data-type="datetime" data-isnull='1' placeholder="课程开始时间">	
									</div>
									<div class="col-sm-3 pull-left">
										<input type="text" value="" name="end_syllabus[]"  class="form-control data-time" data-format="yyyy-MM-dd HH:mm" data-type="datetime" data-isnull='1' placeholder="课程结束时间">	
									</div>

									<div class="col-sm-1 pull-left">
										<input type="text" value="0" name="credit[]"  class="form-control" placeholder="学分">	
									</div>

									<div class="col-sm-2 pull-left">
										<input type="text" value="" name="teacher_hour[]"  class="form-control" placeholder="老师可得课时">
									</div>
									
									<div class="col-sm-3">
										<a class="btn btn-primary add-syllabus">添加</a>
										<a class="btn btn-primary del-add-syllabus">删除</a>
									</div>
								</div>
							{/if}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>缩略图</span>
							</label>
							<div class="col-sm-8">
								<a class="btn btn-primary btn-ablum" data-name="thumb" data-value='{??$data['thumb']}' data-path="article" data-max="1">添加图片</a>
							</div>
						</div>						
						
						
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>招生对象中文</span>
							</label>
							<div class="col-sm-8">
								<textarea name="info[recruit]" placeholder="招生对象中文" class="form-control">{??$data['recruit']}</textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger"></span>
								<span>招生对象英文</span>
							</label>
							<div class="col-sm-8">
								<textarea name="info[recruit_en]" placeholder="招生对象英文" class="form-control">{??$data['recruit_en']}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger">*</span>
								<span>中文内容</span>
							</label>
							<div class="col-sm-8">
							 	<script id="content" name="info[content]" type="text/plain" class="ue-editor" style="height: 400px;">{??$data['content']}</script>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">
								<span class="text-danger">*</span>
								<span>英文内容</span>
							</label>
							<div class="col-sm-8">
							 	<script id="content_en" name="info[content_en]" type="text/plain" class="ue-editor" style="height: 400px;">
							 	{??$data['content_en']}
							 	</script>
							</div>
						</div>
						<div class="form-group radio" data-radio="{??$data['is_recommend']}">
							<label class="control-label col-sm-3">推荐排行榜：</label>
							<div class="radio-inline">
								<label>
									<input type="radio"  name="is_recommend"  value="1"> 推荐
								</label>
							</div>
							<div class="radio-inline">
								<label >
									<input type="radio" name="is_recommend"  value="0"> 不推荐
								</label>
							</div>
						</div>
						<div class="form-group radio" data-radio="{??$data['is_show']}">
							<label class="control-label col-sm-3">显示状态：</label>
							<div class="radio-inline">
								<label>
									<input type="radio" name="is_show"  value="1"> 显示
								</label>
							</div>
							<div class="radio-inline">
								<label >
									<input type="radio" name="is_show"  value="0"> 隐藏
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-comply">确定</button>
					<button type="button" class="btn btn-default" id="btn-close" >取消</button>
				</div>
			</form>
		</div>
	</div>
	{include /public/global_js}
<script type="text/javascript">
//增加课程
$('#course').on('click','.add-syllabus',function(){
	$(this).parents('.container-fluid').parent().append($(this).parents('.container-fluid').clone(true));
	//渲染时间插件
    $('.data-time').each(function(){
    	//判断标记 根据标记渲染 防止重复渲染
    	
		$(this).removeAttr('lay-key',0); 
		var time    = 0;                    //int
        var min     = $(this).attr('data-min');         // string int
        var max     = $(this).attr('data-max');         // string int
        var format    = $(this).attr('data-format');
        var type    = $(this).attr('data-type');        //year month date time datetime

        if(!format){ format  = 'yyyy-MM-dd'; }
        if(!min){ min = '1900-1-1';}
        if(!max){ max = '2099-12-31';}
        if(!type){ type = 'date';}
        if(!time){ time = Date.parse(new Date());}

        laydate.render({
          elem: this, //指定元素
          format:format,
          type:type,
          min:min,
          max:max,
        });
    	
    })
})

//删除课程
$('#course').on('click','.del-add-syllabus',function(){
	if($('.del-add-syllabus').length > 1){
		$(this).parents('.container-fluid').remove();
		laydate.index -= 1; //清除时间插件标记
	}else{
		$(this).parents().find('input[name="syllabus[]"]').val('');
		$(this).parents().find('input[name="credit[]"]').val('0');
	}
})
</script>
</body>
</html>
