<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>表单详情</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-edit">
		<div class="modal-content">
			<form class="form-horizontal" role="form" action="">
				<div class="panel-body">
					<fieldset>
						{loop $fromData $value}
							{if $value['column_comment']}
							<div class="form-group">
								<label class="control-label col-sm-3">
									<span class="text-danger"></span>
									<span>{$value['column_comment']}</span>
								</label>
								<div class="col-sm-8">
									<p class="form-control-static">{$data[$value['column_name']]}</p>	
								</div>
							</div>
							{/if}
						{/loop}
					</fieldset>
				</div>
			</form>	
		</div>
	</div>
	{include /public/global_js}
</body>
</html>