<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>华侨城 - 红包雨</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">		
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
<!--在iPhone 手机上禁止了把数字转化为拨号链接-->
<meta content="telephone=no" name="format-detection" />
<!--删除默认的苹果工具栏和菜单栏-->
<meta content="yes" name="apple-mobile-web-app-capable">
<!-- 网站开启对web app程序的支持，在web app应用下状态条（屏幕顶部条）的颜色，默认值为default（白色），可以定为black（黑色）和black-translucent（灰色半透明）-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" type="text/css" href="{F:getConfig('config','ststic')}/red_packets/css/demo.css" />
<link rel="stylesheet" type="text/css" href="{F:getConfig('config','ststic')}/red_packets/css/sweet-alert.css">
<script type="text/javascript" src="{F:getConfig('config','ststic')}/red_packets/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="{F:getConfig('config','vendor')}/layer/layer.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var win = (parseInt($(".couten").css("width"))) - 60;
		$(".mo").css("height", document.body.clientHeight);
		$(".couten").css("height", $(document).height());
		$(".backward").css("height", $(document).height());
		$("li").css({});
		// 点击确认的时候关闭模态层
		$(".sen a").click(function(){
		  $(".mo").css("display", "none")
		});

		var allTime = 60;
		var integral = 0;
		var num = 0;
		var numz = 4; //倒计时

		var del = function(){
			nums++;
			console.info(nums);
			console.log($(".li" + nums).css("left"));
			$(".li" + nums).remove();
			setTimeout(del,200)
		}
		
		//红包流
		var add = function() {
			var hb = parseInt(Math.random() * (4 - 1) + 1);
			var Wh = parseInt(Math.random() * (100 - 30) + 20); //红包宽度
			var Left = parseInt(Math.random() * (win - 0) + 0);
			var rot = (parseInt(Math.random() * (45 - (-45)) - 45)) + "deg";
			//				console.log(rot)
			num++;
			$(".couten").append("<li class='li" + num + "' ><a href='javascript:;'><img src='{F:getConfig('config','ststic')}/red_packets/images/hb_" + hb + ".png' data-tag="+ hb +"></a></li>");
			$(".li" + num).css({
				"left": Left,
			});
			$(".li" + num + " a img").css({
				"width": Wh,
				"transform": "rotate(" + rot + ")",
				"-webkit-transform": "rotate(" + rot + ")",
				"-ms-transform": "rotate(" + rot + ")", /* Internet Explorer */
				"-moz-transform": "rotate(" + rot + ")", /* Firefox */
				"-webkit-transform": "rotate(" + rot + ")",/* Safari 和 Chrome */
				"-o-transform": "rotate(" + rot + ")" /* Opera */
			});	
			$(".li" + num).animate({'top':$(window).height()+20},5000,function(){
				//删掉已经显示的红包
				this.remove();
			});

			//点击红包的时候弹出模态层
			$(".li" + num).click(function(){
				$(this).remove();
				var tag = $(this).find('img').attr('data-tag');
				//炸弹停止游戏
				if(tag == 2){
					allTime = 1;
					//$(".mo").css("display", "block")
				}else if(tag == 3){
					integral += 10;
				}else if(tag == 1){
					integral += 1;
				}

				updateIntegral();
			});

			//停止红包
			if(allTime <= 0){
 				return ;
			}

			setTimeout(add,200)
		}	
		
		//倒数计时
		var backward = function(){
			numz--;
			if(numz>0){
				$(".backward span").html(numz);
			}else{
				$(".backward").remove();
				start();
				return;
			}
			setTimeout(backward,1000)
					
		}

		//更新分数
		function updateIntegral(){
			$('.integral i').text(integral);
		}
		
		//开始游戏
		function start(){
			if(allTime == 60){
				$.post("{F:url('user_game_start')}",{id:0},function(result){
					console.log(result);
				},"json");
			}

			if(allTime > 0){
				allTime --;
				$('.allTime i').text(allTime);
			}else{
				$('.end').css('display','block');
				$.post("{F:url('user_game_end')}",{integral:integral},function(result){
					if(!result.status){
						layer.msg(result.msg);
						setInterval(function(){
							window.location.href = '/red_packets';
						},1000);
					}
					console.log(result);
				},"json");
				return;
			}
			setTimeout(start,1000)
		}

		backward();
		setTimeout(add,3000);
	})
</script>

</head>
<body style="overflow: hidden;">
<div class="allTime"><i>60</i>s</div>
<div class="fx integral">x<i>0</i></div>
<ul class="couten">
	<!--<li>
		<a href="#"><img src="images/hb_1.png"></a>
	</li>-->
</ul>
<div class="end">
	<div class="content">
		<div class="info">
			<img src="{F:\denha\Start::$config['ststic']}/red_packets/images/game_info.png">
			<label class="integral">获得<i>0</i>积分</label>
		</div>
		<div class="menus">
			<ul>
				<li><a href="javascript:;" class="btn-reload"><img src="{F:\denha\Start::$config['ststic']}/red_packets/images/nav_3.png"></a></li>
				<li><a href="{F:url('/red_packets')}" class="rule"><img src="{F:\denha\Start::$config['ststic']}/red_packets/images/nav_4.png"></a></li>
				<li><a href="{F:url('/red_packets/ranking')}" class="rule"><img src="{F:\denha\Start::$config['ststic']}/red_packets/images/nav_5.png"></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- <div class="mo">
	<div class="sen">
		<img src="images/gx.png">
		<h3>获得红包3元</h3>
		<a href="javascript:;">确定</a>
	</div>
</div> -->
<div class="backward">
		<span></span>
</div>
<script type="text/javascript">
	$('.btn-reload').click(function(){
		$.post("{F:url('today_game_num')}",{id:0},function(result){
			if(result.data >= 3){
				layer.msg('今日游戏次数已完了,请明天再来吧')
			}else{
				window.location.href = '{F:url('game')}';
			}
		},'json');
	})
	document.body.style.overflow='hidden';
</script>
</body>
</html>
