<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="/ststic/fastgo/h5/css/style.css">
    <script type="text/javascript" src="/ststic/fastgo/h5/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/ststic/fastgo/h5/js/common.js"></script>
</head>
<body class="ef">
    <div class="i-title">
        <a href="javascript:;">
           <!--  <img src="/ststic/fastgo/h5/images/i-left.png"> -->
        </a>
        <div>
            <div>充值</div>
        </div>
    </div>
    <div class="pay">
        <form class="form-horizontal" action="{:U('')}">
            <div class="list">
              <span>请选择货币</span>
               <select name="unit" class="unit">
                   <option value="CNY"></option>
                   <option value="CNY">人民币</option>
                   <option value="AUD">澳币</option>
               </select>
            </div>

            <div class="list pay-match">
                <ul>
                    <li data-pay-type="1">
                        <img src="/ststic/fastgo/h5/images/alipay.jpg"> 
                        <label>支付宝</label>
                        <span class="check-pay">√</span>
                    </li>
                     <li data-pay-type="2">
                        <img src="/ststic/fastgo/h5/images/alipay.jpg"> 
                        <label>支付宝</label>
                        <span class="check-pay">√</span>
                    </li>
                </ul>
                
                <input type="hidden" value="" name="pay_type"></input>
            </div>

            <div class="list">
                <p>充值金额</p>
                <label>¥</label><input type="text" value="" name="money">
                <input type="button" value="确定充值" class="pay-submit"></input>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript">
    $('.pay-match li').click(function(){
        console.log( $(this).find('.check-pay').css('display'));
        if($(this).find('.check-pay').css('display') == 'none'){
            $('.check-pay').css('display','none');
            $(this).find('.check-pay').css('display','block');
            $('input[name="pay_type"]').val(id);
        }else{
             console.log( $(this).find('.check-pay').css('display'));
            $(this).find('.check-pay').css('display','none');
            $('input[name="pay_type"]').val('');
        }
    })
</script>
</html>
