# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqldump]
user=siyue
password=siyue1q2w3e4r

[mysql]
default-character-set=utf8

[mysqld]
log-bin=mysql-bin
server-id=2

#作为从机的配置  
master-host                =   74.121.150.93            # 目标主机IP  
master-user                =   siyue                	# 目标主机用户名  
master-password            =   siyue1q2w3e4r            # 目标主机密码  
master-port                =   3306                		# 目标主机端口  
master-connect-retry       =   60                  		# 链接重连间隔(单位s)  
replicate-ignore-db        =   mysql               		# 不从主机同步的数据库(多个写多行)  
replicate-do-db            =   blog                 	# 要从主机同步的库(多个写多行)  
log-slave-update   # 启用从机服务器上的slave日志功能，使这台计算机可以用来构成一个镜像链(A->B->C)  
slave-skip-errors  # 跳过错误，从机一般应该配置该项  

# skip-name-resolve
max_allowed_packet=8M
lower_case_table_names=1
max_connections=300
max_connect_errors=200