<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>四月Denha - 个人博客  - {$data['title']}</title>
	<meta name="keywords" content="Denha 四月Denha 四月 四月程序工作室 Denha框架"/>
	<meta name="description" content="{$data['description']}"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{F:getConfig('config','vendor')}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{F:getConfig('config','vendor')}/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{F:getConfig('config','vendor')}/pace/themes/blue/pace-theme-minimal.css" />
	<link rel="stylesheet" href="{F:getConfig('config','ststic')}/blog/css/common.css" />
	<link rel="stylesheet" href="{F:getConfig('config','ststic')}/blog/css/css.css" />
	<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?eb42f04c15f2dc6876fc2c14439fc6ef";
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);

		var bp = document.createElement('script');
		var curProtocol = window.location.protocol.split(':')[0];
		if (curProtocol === 'https') {
			bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		}
		else {
			bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		}
		
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(bp, s);
	})();

(function(){
    
})();
	</script>
</head>
<body>
	<div class="wapper w14">
		<div class="top w" >
			<div class="location pull-left">
				<i class="fa fa-volume-up"></i>
				<a hefr="javascript:;">站点通知公告</a>
			</div>

			<div class="menus pull-right">
				<div class="bars"><i class="fa-2x fa fa-bars"></i></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="index-content container-fluid">
			<div class="left col-md-9 col-xs-12">
				<div class="news-content">
					<h2>{$data['title']}</h2>
					<div class="desc pull-left">
						<dt>
							<dl><i class="fa fa-eye"></i> 热度 {$data['hot']}</dl>
							<dl><i class="fa fa-fire"></i> 评论 {$data['comment']}</dl>
							<dl class="hidden-sm hidden-xs"><i class="fa fa-clock-o"></i> 时间 {F:date('Y-m-d',$data['created'])}</dl>
						</dt>
					</div>
					<div class="clearfix"></div>
					<div class="content">
						{$data['content']}
	
						<div class="code">
							<div class="img">
							<span>微信关注 获取最新文章</span>
							<div class="clearfix"></div>
								<img src="{F:getConfig('config','ststic')}/blog/images/qrcode.jpg"  style="width: 180px" class="hidden-sm hidden-xs">
								<img src="{F:getConfig('config','ststic')}/blog/images/qrcode.jpg"  class="hidden-md hidden-lg">
							</div>
						</div>

						<div class="origin">
							<span>文章来源：</span>
							{if $data['origin']}
							<a href="{$data['origin']}" target="_blank">{$data['origin']}</a>
							{else}
							<a href="http://{$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']}" target="_blank">http://{$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']}</a>
							{/if}
						</div>

					</div>
				</div>
				<div class="clearfix"></div>
				{if $comment}
				<div class="comment">
					<ul>
						{loop $comment $key $value}
						<li>
							<label>{$value['nickname']}:</label>
							<p>{$value['content']}</p>
							<div class="buttom">
								<div class="pull-left">
									<i class="fa fa-clock-o"></i> 时间 {F:date('Y-m-d',$value['created'])}
								</div>
								<div class="pull-right">
									<a href="javascript:;" class="btn-ajax-post" config-href="{F:url('report/add')}" data-goods_id="{$value['id']}">举报</a>
									<a href="javascript:;" data-to_id="{$value['id']}" data-parent_id="{$value['id']}" class="btn-show-reply">回复[{$value['total']}]</a>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="comment-chlid" style="display: none;">
								<ul></ul>
								<div class="alert alert-info" role="alert" style="margin-top: 2rem;">
									回复评论:
									<div class="pull-right">
										<a href="javascript:;" class="btn-comment-up">[收起]</a>
									</div>
								</div>
		       				 	<form  class="form-horizontal remark" action="{F:url('comment/reply')}">
		       				 		<input type="hidden" class="form-control" name="goods_id"  value="{$data['id']}">
		       				 		<input type="hidden" class="form-control" name="parent_id"  value="{$value['id']}">
		       				 		<input type="hidden" class="form-control" name="to_id"  value="{$value['id']}">
							 		<div class="form-group">
									    <label for="inputEmail3" class="col-sm-2 control-label">称呼</label>
									    <div class="col-sm-10">
									      <input type="text" class="form-control" name="nickname"  value="{??$user['nickname']}"  placeholder="昵称">
									    </div>
								  	</div>
							 		<div class="form-group">
									    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
									    <div class="col-sm-10">
									      <input type="email" class="form-control" name="mail" value="{??$user['mail']}"  placeholder="Email">
									    </div>
								  	</div>
					               	<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">内容</label>
									    <div class="col-sm-10">
									      <textarea  class="form-control" name="content"></textarea>
									    </div>
							 		</div>
							 		<div class="form-group">
									    <div class="col-sm-offset-2 col-sm-10">
									      <button type="button" class="btn btn-primary btn-comply">确定</button>
									    </div>
								  	</div>
    						 	</form>
							</div>
							<div class="clearfix"></div>
						</li>
						{/loop}
					</ul>
				</div>
				{/if}
				<div class="alert alert-info" role="alert" style="margin-top: 2rem;">发表评价:</div>
				 	<form  class="form-horizontal remark" action="{F:url('comment/add')}">
			 		 	<input type="hidden" class="form-control" name="goods_id"  value="{$data['id']}">
				 		<div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">称呼</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" name="nickname"  value="{??$user['nickname']}" placeholder="昵称">
						    </div>
					  	</div>
				 		<div class="form-group">
						    <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" name="mail" value="{??$user['mail']}"   placeholder="Email">
						    </div>
					  	</div>
		               	<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">内容</label>
						    <div class="col-sm-10">
						      <textarea  class="form-control" name="content"></textarea>
						    </div>
				 		</div>
				 		<div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <button type="button" class="btn btn-primary btn-comply">确定</button>
						    </div>
					  	</div>
				 	</form>
				</div>
			<div class="right col-md-3 hidden-sm hidden-xs">
				{include /public/right}
			</div> 
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="fix">
		<ul>
			<li class="arrow-up"><i class="fa-3x fa fa-arrow-up" title="返回顶部"></i></li>
		</ul>
	</div>
	{include /public/footer}
	<script type="text/javascript" src="{F:getConfig('config','ststic')}/blog/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="{F:getConfig('config','vendor')}/pace/pace.min.js"></script>
	<script type="text/javascript" src="{F:getConfig('config','vendor')}/layer/layer.js"></script>
	<script type="text/javascript" src="{F:getConfig('config','ststic')}/blog/js/common.js"></script>
	<script type="text/javascript">
	$('.btn-comment-up').click(function(){
		var comment = $(this).parent().parent().parent();
		comment.hide(1000);
	})
	$('.btn-show-reply').click(function(){
		var goods_id  = $('input[name=goods_id]').val();
		var parent_id = $(this).attr('data-parent_id');
		var to_id = $(this).attr('data-to_id'); 
		var comment = $(this).parent().parent().parent();
		$('.comment-chlid').css('display','none');
		comment.find('form').find('input[name=to_id]').val(to_id);
		comment.find('.comment-chlid').show(1000);
		$.post('{F:url('comment/children_list')}',{goods_id:goods_id,parent_id:parent_id},function(result){
			comment.find('ul').html(result);
			$('.btn-show-reply').click(function(){
			 	to_id = $(this).attr('data-to_id'); 
				comment.find('form').find('input[name=to_id]').val(to_id);
			});
		},"text")
	})
	$('.fa-arrow-up').click(function(){
	 	var sc=$(window).scrollTop();
   		$('body,html').animate({scrollTop:0},300);
	})
	</script>
</body>
</html>