<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-index-index">
		<div class="view-content-container" >
			<div class="row">
				<div class="col-sm-12">
					<div class="console-title console-title-border clearfix">
						<div class="pull-left">
							<h5>广告管理</h5>
						</div>
						<div class="pull-right">
							<a class="btn btn-primary btn-open" config-href="{F:url('edit')}"  config-height="250px" config-width="356px">添加分类</a>
						</div>
					</div>
					<form class="form-inline ng-pristine ng-valid" action=""  method="get">
                        <div class="form-group">
                            <select class="form-control" name="field">
                                <option value="title">标题</option>
                            </select>
                            <input type="text" class="form-control w120" placeholder="Search" name="keyword" value="{??$param['keyword']}" >
                            <button type="submit" class="btn btn-default" >搜索</button>
                        </div>
                    </form>
					<div class="console-form">
						<div class="mt8">
							<form>
								<table class="table table-hover">
									<thead>
										<tr>
											<th style="width:75px;">ID</th>
											<th>标题</th>
											<th style="width:160px; text-align:center;">编辑/操作</th>
										</tr>
									</thead>
									<tbody>
										{loop $list $key $value}
									 	<tr v-for="list in list">
											<td>{$value['id']}</td>
											<td>{$value['title']}</td>
											<td align='center'>
												<a href="{F:url('data_list',array('id'=>$value['id']))}">查看相册</a>
												<a config-href="{F:url('edit',array('id'=>$value['id']))}"  config-height="250px" config-width="356px"  config-title="编辑分类"  class="btn-open">编辑</a>
											</td>
										</tr>
										{/loop}
									</tbody>
									<page :pages="pages" v-on:getPages="getPages"></page>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>