<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>华侨城</title>
	<meta name="keywords" content="华侨城"/>
	<meta name="description" content="华侨城"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
	<meta name="baidu-site-verification" content="IOphv8ZngJ" />
	<link rel="stylesheet" href="{F:getConfig('config','vendor')}/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{F:getConfig('config','ststic')}/red_packets/css/common.css" />
	<link rel="stylesheet" href="{F:getConfig('config','ststic')}/red_packets/css/css.css" />
	
</head>
<body style="overflow: hidden;">
	<div class="guide">
		<img src="{F:\denha\Start::$config['ststic']}/red_packets/images/guide_1.jpg" class="img_1" data-id="1" style="width: 100%; height: 100%;">
		<img src="{F:\denha\Start::$config['ststic']}/red_packets/images/guide_2.jpg" class="img_2" style="width: 100%; height: 100%;display: none;">
		<img src="{F:\denha\Start::$config['ststic']}/red_packets/images/guide_3.jpg" class="img_3" style="width: 100%; height: 100%; display: none;">
	</div>
	<script type="text/javascript" src="{F:getConfig('config','ststic')}/red_packets/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript">
		$('body').on('touchmove', function (event) {
		    event.preventDefault();
		});
		$(document).ready(function() {
			$('.guide img').css('height',window.screen.height - 60);
		});
		$('.guide').click(function(){
			var _this = this;
			var id = Number($(this).find('img').attr('data-id'));
			if(id == 1){
				$(this).find('img').attr('data-id',2);
				$('.guide img').css('display','none');
				$('.img_2').css('display','block');
				setTimeout(function(){
					$('.guide img').css('display','none');
					$('.img_3').css('display','block');
					setTimeout(function(){
						window.location.href = '{F:url('/red_packets')}';
					},1000);
				},500);
			}
		})
		document.body.style.overflow='hidden';        
	</script>
</body>
</html>