<div class="footer w14">
	<div class="link hidden-sm hidden-xs">
		<ul>
			<li class="link-title">友情链接：</li>
			<li><a href="https://translate.google.cn/#zh-CN/en/" target="_blank">谷歌翻译</a></li>
			<li><a href="http://tool.chinaz.com/Tools/unixtime.aspx" target="_blank">时间戳转换</a></li>
			<li><a href="http://www.bejson.com/" target="_blank">json校检</a></li>
			<li><a href="https://tool.css-js.com/base64.html" target="_blank">图片在线转Base64</a></li>
			<div class="clearfix"></div>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="copy">
		版权所有@copy 2017 四月程序工作室&四月Denha
		<ul class="footer-ico">
			<li class="pull-left"><a href="https://github.com/AprilOneDay" target="_blank"><i class="fa-2x fa fa-github" title="github"></i></a></li>
			<li class="pull-left"><a href="{F:url('/common/message/index')}" target="_blank"><i class="fa-2x fa fa-quora" title="提问"></i></a></li>
			<div class="clearfix"></div>
		</ul>
	</div>
</div>
<div class="fix">
	<ul>
		<li class="arrow-up"><i class="fa-3x fa fa-arrow-up" title="返回顶部"></i></li>
	</ul>
</div>