<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-setting-menus-edit">
		<div class="modal-content">
		<!--basic-group-info 聊天记录-->
		<table class="table table-bordered">
			{loop $list['content'] $key $value}
				{if $value['float'] == 'left'}
					<tr>
						<td width="20%">
							<span class="value">{$list['to_user']['nickname']}</span>
						</td>
						<td  width="80%"></td>
					</tr>
					<tr>
						<td colspan="2">
							<p>{$value['content']}</p>
							<p class="value">{$value['created']}</p>
						</td>
					</tr>
				{else}
					<tr>
						<td width="80%"></td>
						<td align="right" style="padding-right: 2rem;">

							<span class="value">{$list['user']['nickname']}</span>
						</td>
					</tr>
					<tr>
						<td colspan="2" align="right" style="padding-right: 2rem;">
							<p>{$value['content']}</p>
							<p class="value">{$value['created']}</p>
						</td>
					</tr>
				{/if}
			{/loop}
		</table>
		<div class="console-sub-title clearfix">
		<div class="pull-left">
			<h5>
				<span >回复：</span>
			</h5>
		</div>
		</div>
		<form class="form-horizontal" role="form" action="">
			<input type="hidden" value="{$to_uid}" name="to_uid">
			<table class="table table-bordered">
				<tr>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea class="form-control" rows="5" style="width: 90%; margin-left: 5%;margin-right: 5%;" name="content"></textarea>
					</div>
				</div>
				</tr>
			</table>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-comply">确定</button>
				<button type="button" class="btn btn-default" id="btn-close">取消</button>
			</div>
		</form>
	</div>
	{include /public/global_js}
	<script type="text/javascript">

	</script>
</body>
</html>