<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
  		<div class="border-top">
			<div class="border-top-left fl">
				<ul>
					<li><a class="logo">{F:getVar('web_name','admin.sys')}</a></li>
				</ul>
			</div>
			<div class="border-top-right fr">
				<ul>
					<li><a href="{F:url('/setting/personal/edit')}" target="iframe0">{$this->consoleName}</a></li>
					<li><a href="{F:url('login/login_out')}">退出</a></li>
				</ul>
			</div>
		</div>
		<div class="wrapper container-fluid mian-menus">
			<nav class="sidebar-inner fl col-md-1">
				<div class="sidebar-fold" ><span class="glyphicon glyphicon-transfer"></span></div>
				<ul>
					{loop $list['list'] $key $value}
					<li>
						<a href="javascript:;" @click="open(key)">
							<span class="{if $value['id'] == $this->thisConsoleMenusTopId}glyphicon glyphicon-triangle-bottom{else}{$value['icon']}{/if}"></span>{$value['name']}
						</a>
						{if $value['child']}
							<dl {if $value['id'] == $this->thisConsoleMenusTopId}style="display:block;"{/if}>
								{loop $value['child'] $k $v}
									<dd>
										<a data-id="{$v['id']}" data-href="{$v['url']}" target="iframe0"  class="sec-list-show btn-jump-main {if $v['id'] == $this->thisConsoleMenusId}cur{/if}" data-name="{$v['name']}">
											<span class="{$v['icon']}" ></span>{$v['name']}
										</a>
									</dd>
								{/loop}
							</dl>
						{/if}
					</li>
					{/loop}
				</ul>
			</nav>
			
			<div class="product-nav-scene fl col-md-1" style="display: block;">
				<div class="title">设置</div>
				<ul>
					{loop $list['two']['list'] $key $value}
					<li>
						{if $value['child']}
							<a href="javascript:;" ><span class="glyphicon glyphicon-triangle-right"></span>
						{else}
							<a data-href="{$value['url']}" class="btn-jump-main"><span></span>
						{/if}
							{$value['name']}
						</a>
						{if $value['child']}
							<dl>
								{loop $value['child'] $k $v}
									<dd>
										<a data-href="{$v['url']}" class="btn-jump-main">
											<span class="{$v['icon']}"></span>{$v['name']}
										</a>
									</dd>
								{/loop}
							</dl>
						{/if}
					</li>
					{/loop}
				</ul>
			</div>
			
			<div class="content-main fl" >
				<iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/content/category/lists" frameborder="false" scrolling="auto" style="border:none" width="100%" height="auto" allowtransparency="true"></iframe>
			</div>
		</div>
	{include /public/global_js}
	<script type="text/javascript">
	//如果存在缓存url 则显示缓存url
	var  this_console_url = sessionStorage.getItem('this_console_url');
	if(this_console_url){
		$('.J_iframe').attr('src',this_console_url);
	}

	//导航展开下级菜单
	$('.mian-menus').on('click','.product-nav-scene ul li',function(){
        //初始化
        $('.product-nav-scene ul li dl').css('display', 'none');
        $('.product-nav-scene ul li').each(function() {
            if ($(this).children().children().eq(0).attr('class') == 'glyphicon glyphicon-triangle-bottom') {
                $(this).children().children().eq(0).attr('class', 'glyphicon glyphicon-triangle-right');
            }
        });

        //展开/收缩
        var ico = $(this).children().children(':first').attr('class');
        if (ico == 'glyphicon glyphicon-triangle-right') {
            $(this).children().children(':first').attr('class', 'glyphicon glyphicon-triangle-bottom');
            $(this).find('dl').css('display', 'block');
        } else if (ico == 'glyphicon glyphicon-triangle-bottom') {
            $(this).children().children(':first').attr('class', 'glyphicon glyphicon-triangle-right');
            $(this).find('dl').css('display', 'none');
        }
	})

	//收缩一级导航
    $('.sidebar-fold').click(function() {
        var width = $(this).width();
        if (width > 38) {
            $('.sidebar-inner').width(38);
        } else {
            $('.sidebar-inner').width(180);
        }

    });

    //导航展开下级菜单
    $('.sidebar-inner ul li').click(function() {
        //初始化
        $('.sidebar-inner ul li dl').css('display', 'none');
        $('.sidebar-inner ul li').each(function() {
            if ($(this).children().children().eq(0).attr('class') == 'glyphicon glyphicon-triangle-bottom') {
                $(this).children().children().eq(0).attr('class', 'glyphicon glyphicon-triangle-right');
            }
        });

        //展开/收缩
        var ico = $(this).children().children(':first').attr('class');
        if (ico == 'glyphicon glyphicon-triangle-right') {
            $(this).children().children(':first').attr('class', 'glyphicon glyphicon-triangle-bottom');
            $(this).find('dl').css('display', 'block');
        } else if (ico == 'glyphicon glyphicon-triangle-bottom') {
            $(this).children().children(':first').attr('class', 'glyphicon glyphicon-triangle-right');
            $(this).find('dl').css('display', 'none');
        }

    })


    //一级高亮
    $('.sidebar-inner dd').click(function() {
        $('.sidebar-inner dd').each(function() {
            $(this).find('a').removeClass('cur');
        })
        $(this).find('a').addClass('cur');
    });

 	//二级高亮
	$('.mian-menus').on('click','.product-nav-scene dd',function(){
 		$('.product-nav-scene dd').each(function() {
            $(this).find('a').removeClass('cur');
        })
        $(this).find('a').addClass('cur');
	})

	//三级栏目点击事件
	$('.mian-menus').on('click','.btn-jump-main',function(){
		var id = $(this).attr('data-id');
		var url = $(this).attr('data-href');
		//记录url
		sessionStorage.setItem('this_console_url',url);
		//跳转
		window.iframe0.location.href = url;
	})

	$('.sec-list-show').click(function(){
		var id = $(this).attr('data-id');
		var name = $(this).attr('data-name');
		$.post('/index/index/menus',{id:id,level:2},function(result){
			$('.product-nav-scene').find('.title').text(name);
			$('.product-nav-scene').css('display','block');
			$('.product-nav-scene').find('ul').html(result);
		},"html");
	})
	</script>
</body>
</html>