# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
default-character-set=utf8


[mysqld]
collation-server = utf8_unicode_ci

character-set-server = utf8

explicit_defaults_for_timestamp=true

default_authentication_plugin=mysql_native_password

log-error=/var/log/mysql/error.log

log-bin=mysql-bin

server-id=2

max_allowed_packet=100M
lower_case_table_names=1
max_connections=300 # 最大连接数
max_connect_errors=20 # 最大链接错误次数

# 开启并行复制防止延迟
slave-parallel-type=LOGICAL_CLOCK  # 基于组提交的并行复制方式
slave-parallel-workers=16  # 并行复制测试 开启16个线程 效果最佳
slave_preserve_commit_order=1 # slave的并行复制和master的事务执行的顺序一致
master_info_repository=TABLE # 开启MTS功能后，务必将参数master_info_repostitory设置为TABLE
relay_log_info_repository=TABLE
relay_log_recovery=ON