# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]
collation-server = utf8_unicode_ci

character-set-server = utf8

# 更新数据的时候自动更新时间字段
explicit_defaults_for_timestamp = true

# 密码加密方式
default_authentication_plugin = mysql_native_password

log-error = /var/log/mysql/error.log

log-bin = mysql-bin

server-id = 1

# sql大小
max_allowed_packet = 100M

# 1表名在硬盘上以小写保存 对大小写不敏感
lower_case_table_names = 1

# 最大连接数
max_connections = 700

# 最大错误连接次数
max_connect_errors = 20

# 禁用DNS解析 只允许远程IP链接
skip-name-resolve

# mysql慢日志记录
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 5

# 读操作缓冲区大小
read_buffer_size = 32M

# 缓冲池实例个数，推荐设置4个或8个
innodb_buffer_pool_instances = 4

# 空闲断开时间(秒)
wait_timeout = 60
interactive_timeout = 60