.mr10{margin-right: 10px;}
.mt3{margin-top: 3px;}
.mt10{margin-top: 10px;}

body{font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"Microsoft YaHei"; font-size: 12px;}
.iconfont{font-size: 14px;-webkit-text-stroke-width: 0px; line-height: 14px; }
.ml10 { margin-left: 15px; }
.pr10{padding-right: 10px !important;}
.pl10{padding-left: 10px !important;}
.lh32{line-height: 32px;}
a{ cursor: pointer; }
a:hover{ text-decoration: none; }
a:link{ text-decoration: none; }

.fl{ float: left; }
.fr{ float: right; }

ul{ margin: 0px; padding: 0px;  }
li{ list-style: none; }

.container-fluid{ padding: 0px; }

.form-control{border-radius: 0; font-size: 12px; height: 32px; padding: 6px; transition: none 0s ease 0s ;}
.form-control:focus {box-shadow: none;}
.btn{border-radius: 0; font-size: 12px;height: 32px;line-height: 14px; padding: 8px 16px;}
.btn-default {background-color: #f7f7f7; border: 1px solid #ddd; color: #333;}
.btn-default:hover {background-color: #ffffff; border: 1px solid #ddd; color: #333;}
.btn-primary {color: #fff; border: 1px solid #09c; background-color: #09c;}
.btn-primary:active{-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.125);box-shadow:inset 0 1px 2px rgba(0,0,0,0.125)}
.btn-primary:focus{color:#fff;border:1px solid #09c;background-color:#09c;outline:none}
.btn-primary:hover{color:#fff;border:1px solid #28b5d6;background-color:#28b5d6}

.table {background: #fff none repeat scroll 0 0; border: 1px solid #e1e6eb; font-size: 12px; margin-top: 8px; color: #666;}
.table thead tr th {background-color: #f5f6fa; border-bottom: 1px solid #e1e6eb; color: #999; font-weight: normal; padding: 8px;}
.table > tbody + tbody {border-top: 0;}
.table tbody tr td {border-bottom: 1px solid #e1e6eb; border-top: 0 none; padding: 12px 8px; vertical-align: middle;}

.form-inline .form-group {margin: 4px 8px 4px 0;}
input[type="radio"], input[type="checkbox"] { margin-top: 2px;}

.pagination { border-radius: 0; margin: 0; vertical-align: middle;}
.pagination li:first-child > a, .pagination li:first-child > span {border-radius: 0;}
.pagination li:last-child > a, .pagination li:last-child > span {border-radius: 0;}
.modal-title {font-size: 14px;}
.modal-header .close {font-size: 28px; font-weight: normal; margin-top: -8px;}
.modal-content{ border: none; border-radius:0px; box-shadow:0 0 0 ;}
.modal-body { position: relative;border-radius:0px; border: none;}
.modal-body .form-group.row > div{padding: 0 12px 0 0;}
.modal-body .form-group.row .datetime span{float: left;line-height: 30px;}
.modal-body .form-group.row .datetime .form-control{width: 180px;}
.modal-footer {border-top: 1px solid #e5e5e5; margin-top: 0px; padding: 19px 20px 20px; text-align: right;}
.alert-success{color:#090;background-color:#F2FFEA;border-color:#C7DDB9}
.alert-success .alert-link{color:#063;font-weight:normal}
.alert-info{color:#555;background-color:#F9F9F9;border-color:#DDD}
.alert-info .alert-link{color:#06C;font-weight:normal}
.alert-warning{color:#f68300;background-color:#FCF8E2;border-color:#FBECCB}
.alert-warning .alert-link{color:#c50;font-weight:normal}
.alert-danger{color:#ee2117;background-color:#FFF6F2;border-color:#F1ACAC}
.alert-danger .alert-link{color:#b00;font-weight:normal}
.alert{padding:6px 12px;line-height:18px;margin-bottom:6px;border-radius:0px}
.alert .close{margin-top:-5px}
.alert ul{padding-left:16px}

.btn-xs{font-size: 12px; height: 20px; line-height: 14px; padding: 2px 8px;}

.nav-tabs>li>a,.nav-tabs.nav-justified>li>a {border-radius: 0px 0px 0px 0px}
.nav-tabs {border-color: #ddd}
.nav-tabs>li {margin-left: -1px;border-top: 1px solid #ddd;	border-left: 1px solid #ddd;border-right: 1px solid #ddd;z-index: 1}
.nav-tabs>li>a,.nav-tabs>li>a:focus {color: #666;border-left: 0px;border-right: 0px;margin-right: 0px;padding: 10px 16px;background: #FBFAF8;border-bottom: 0px}
.nav-tabs>li.active {border-top: 0px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;z-index: 3}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {border-top: 2px solid #00a2ca;border-left: 0px;border-right: 0px;border-bottom: 1px solid #FFF;color: #333}
.nav-tabs>li>a:hover {background-color: #FFF;color: #09C}
.nav-tabs .open>a,.nav-tabs .open>a:hover,.nav-tabs .open>a:focus {color: #000;	background-color: #FAFAFA;border-color: #EEE}
.nav-tabs.nav-justified>li:first-child {border-left: 1px solid #ddd}
.nav-tabs.nav-justified>li {border-top: 1px solid #ddd;	border-left: 0px solid #ddd;border-right: 1px solid #ddd;z-index: 1}
.nav-tabs.nav-justified>li>a {border-left: 0px;border-right: 0px;margin-right: 0px;background-color: #fbfaf8;border-bottom: 1px solid #ddd}
.nav-tabs.nav-justified>li>a:hover {color: #09C;background-color: #FFF}
.nav-tabs.nav-justified>li.active {border-top: 0px;z-index: 3}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus {border-top: 2px solid #00a2ca;border-left: 0px;border-right: 0px;border-bottom: 1px solid #FFF;color: #333;background-color: #FFF}

/*viewåŒº*/
.view-topbar{background: #09c none repeat scroll 0 0 ; height: 50px; position: fixed; width: 100%; z-index: 101;}
.view-body{background-color: #000; bottom: 0; position: absolute; top: 50px; width: 100%; z-index: 100;}
.view-sidebar{background-color: #293038; bottom: 0; display: block; overflow-x: hidden; position: fixed; top: 50px; width: 180px; z-index: 102;}
.view-sidebar-mini .view-sidebar{width: 50px;transition: all 0.2s ease 0s;}
.view-content{background: #fff none repeat scroll 0 0; bottom: 0; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; width: auto; left: 180px;}
.view-sidebar-mini .view-content{left: 50px;transition: all 0.2s ease 0s;}
.view-content-navbar{background-color: #eaedf1; bottom: 0; float: left; overflow: hidden; position: absolute; top: 0; transition: all 0.2s ease 0s; width: 120px; z-index: 2;}
.view-content.open .view-content-navbar{width: 0px;}
.view-content-navbar-collapse{}
.view-content-body{bottom: 0; left: 120px; overflow-x: hidden; overflow-y: auto; position: absolute; right: 0; top: 0; width: auto;transition: all 0.2s ease 0s;}
.view-content.open .view-content-body{left: 0px;}
.view-content-body .table tbody tr td{vertical-align: top;}

/*å¤´éƒ¨*/
.view-topbar .head { float: left; width: 180px; height: 50px; position: relative; z-index: 3;}
.view-topbar .head .logo{height: 24px; padding-left: 60px; background: url(../img/logo.png) 28px 13px no-repeat; display: block; color: #fff; text-decoration: none; height: 100%; line-height: 50px; font-size: 16px;}
.view-topbar .info {float: right;}
.view-topbar .info > ul > li{float: left; line-height: 50px; color: #fff; list-style-type: none; border-left: 1px solid #0093c4;}
.view-topbar .info > ul > li a{display: block; color:#fff; padding:0 10px; text-decoration: none; font-size: 14px;}
.view-topbar .info > ul > li a:hover{background: #008fbf;transition: all 0.2s ease 0s;}
.view-topbar .systerm { float: left;}
.view-topbar .systerm > ul > li{float: left; line-height: 50px; color: #fff; list-style-type: none; border-left: 1px solid #0093c4;}
.view-topbar .systerm > ul > li a{display: block; color:#fff; padding:0 10px; text-decoration: none; font-size: 14px;}
.view-topbar .systerm > ul > li a:hover{background: #008fbf;transition: all 0.2s ease 0s;}
.caret{display: inline-block;text-align: center; transition: transform 0.2s ease 0s, vertical-align 0.2s ease 0s; vertical-align: middle; }
.dropdown.open .caret{transform: rotate(180deg);}
.view-topbar .info > ul > li .dropdown.open > a{background: #fff none repeat scroll 0 0; border-bottom: 1px solid #eaedf1; color: #333; position: relative;display: block; height: 50px; padding: 0 10px; z-index: 2; line-height: 50px;}
.view-topbar .dropdown-menu{z-index:1;font-size:12px;border-radius:0;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);margin: 0; min-width: 0; padding: 0; width: 100%; float: left; left: 0;top: 100%;border: medium none;}
.view-topbar .info .dropdown-menu li{height: 40px; border-bottom: 1px solid #eaedf1; font-size: 12px;}
.view-topbar .info .dropdown-menu li a{line-height: 39px; padding-left: 10px;clear: both; color: #333; display: block; font-weight: normal; position: relative; white-space: nowrap; font-size: 12px;}
.view-topbar .info .dropdown-menu li a:hover,.view-topbar .info .dropdown-menu li a:focus{background: #f5f5f5; color: #262626;}

/*ä¾§æ */
.view-sidebar .sidebar .sidebar-fold{background: #394555 none repeat scroll 0 0; color: #aeb9c2; cursor: pointer; font-size: 12px; height: 30px; line-height: 30px !important; text-align: center; width: 180px;}
.view-sidebar-mini .view-sidebar .sidebar .sidebar-fold{width: 50px;transition: all 0.2s ease 0s;}
.view-sidebar .sidebar .sidebar-nav .sidebar-title{height: 40px; line-height: 40px; color: #fff; background: #22282e; font-size: 12px; cursor: pointer;}
.view-sidebar .sidebar .sidebar-nav .sidebar-title:hover{background: #37424f;}
.view-sidebar .sidebar .sidebar-nav .sidebar-title .icon-arrowdown{margin-left: 20px;transition: transform 0.12s; -o-transition: -o-transform 0.12s; -ms-transition: -ms-transform 0.12s; -moz-transition: -moz-transform 0.12s; -webkit-transition: -webkit-transform 0.12s;display: inline-block; margin: 0 8px 0 20px; vertical-align: middle;}
.view-sidebar-mini .view-sidebar .sidebar .sidebar-nav .sidebar-title .sidebar-title-text{display: none;}

.view-sidebar .sidebar .sidebar-nav ul.sidebar-trans{height:auto; margin:0px; padding: 0px; transition:all 0.12s ease,0.12s ease;}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans li{height: 40px; line-height:0;}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans li a{color: #fff; height: 40px; line-height: 40px; display: block; overflow: hidden;text-decoration: none;}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans li a:hover{text-decoration: none; background: #37424f;}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans li a.active{background: #0099cc}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans .nav-icon{float: left; width: 50px; text-align: center;}
.view-sidebar .sidebar .sidebar-nav .sidebar-trans .nav-title{margin-left: 50px; width: 130px; display: block;}

.view-sidebar .sidebar .sidebar-nav.sidebar-nav-fold ul.sidebar-trans{height: 0px!important; overflow: hidden;}
.view-sidebar .sidebar .sidebar-nav.sidebar-nav-fold .sidebar-title .icon-arrowdown{transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg);}

/*ä¸­æ */
.view-content-navbar .navbar-title{background: #d9dee4 none repeat scroll 0 0; height: 70px; line-height: 70px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 180px;font-weight: bold; text-indent: 20px;}
.view-content-navbar .navbar-list{bottom: 0; left: 0; overflow-x: hidden; overflow-y: auto; position: absolute; right: 0; top: 70px;}
.view-content-navbar .navbar-list > ul > li{margin:0; padding: 0; line-height: 0; overflow: hidden;}
.view-content-navbar .navbar-list > ul > li a{color: #333;display: block; height: 40px; line-height: 40px; width: 180px; overflow: hidden;}
.view-content-navbar .navbar-list > ul li.active a{background: #fff;}
.view-content-navbar .navbar-list > ul li a:hover{background: #f4f6f8}
.view-content-navbar .navbar-list > ul li a .nav-icon{color: #333; float: left; font-size: 16px; height: 40px; text-align: center; width: 30px;}
.view-content-navbar .navbar-list > ul li a .nav-title{float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 138px;}

.view-content-navbar .navbar-list > ul > li > ul{display: none;}
.view-content-navbar .navbar-list > ul > li > ul.active { display: block; }
.view-content-navbar .navbar-list > ul > li > ul > li{text-indent: 8px; background: #eaedf1}
.view-content-navbar .navbar-list > ul li a .nav-icon .icon-arrowdown{
	transform: rotate(-90deg); 
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	-ms-transform: rotate(-90deg); 
	-o-transform: rotate(-90deg);
    transition: transform 0.12s;
    display: inline-block;
}
.view-content-navbar .navbar-list > ul li a .nav-icon.open .icon-arrowdown{
	transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg); 
	-ms-transform: rotate(0deg); 
	-o-transform: rotate(0deg);
    transition: transform 0.12s;
    display: inline-block;
}

/*ä¼¸ç¼©*/
.view-content-navbar-collapse{height: 50px; left: 100px; position: absolute; top: 50%; transition: all 0.2s ease 0s; width: 20px; z-index: 3;}
.view-content.open .view-content-navbar-collapse{left: 0px;}
.view-content-navbar-collapse .navbar-collapse-inner{overflow: hidden; position: relative; top: -50%; cursor: pointer;}
.view-content .view-content-navbar-collapse .collapse-bg{right:0;left:auto;border-bottom:9px solid transparent;border-left:none;border-right:13px solid #f7f7f7;border-top:9px solid transparent; left: auto; right: 0;position: absolute; top: 0;  width: 0; height: 50px;}
.view-content.open .view-content-navbar-collapse .collapse-bg{width:0;height:50px;position:absolute;top:0;left:0; border-right: 0;border-bottom:9px solid transparent;border-left:13px solid #D9DEE4;border-top:9px solid transparent;transition: all 0.1s ease 0s, all 0.1s ease 0s;}
.view-content-navbar-collapse .navbar-collapse-inner:hover .collapse-bg{border-bottom:8px solid transparent;border-left:none;border-right:20px solid #f7f7f7;border-top:8px solid transparent}
.view-content.open .view-content-navbar-collapse .navbar-collapse-inner:hover .collapse-bg{border: none;}
.view-content.open .view-content-navbar-collapse .navbar-collapse-inner:hover .collapse-bg{border-bottom:8px solid transparent;border-left:20px solid #D9DEE4;border-top:8px solid transparent}

.view-content-navbar-collapse .navbar-collapse{cursor: pointer; height: 50px; left: -7px; position: relative; text-align: center; transition: all 0.1s ease 0s, all 0.1s ease 0s;}
.view-content.open .view-content-navbar-collapse .navbar-collapse{left: -16px;}
.view-content-navbar-collapse .navbar-collapse-inner:hover .navbar-collapse{left:-14px;}
.view-content-navbar-collapse .navbar-collapse .icon-packup{display: inline;}
.view-content-navbar-collapse .navbar-collapse .icon-unwind{display: none;}

.view-content.open .icon-packup{display: none;}
.view-content.open .icon-unwind{display: inline;}

.view-content-navbar-collapse .navbar-collapse span{font-size: 15px; line-height: 50px; vertical-align: text-top;}

/*ä¸»å†…å®¹åŒº*/
.view-content-container{padding: 0 15px;}
.view-content-container .console-title{min-height: 70px; padding: 16px 0;}
.view-content-container .console-title-border{border-bottom: 1px solid #ddd;}
.console-title h1, .console-title h2, .console-title h3, .console-title h4, .console-title h5, .console-title h6 {border-left: 2px solid #88b7e0; display: inline-block; margin:8px 8px 8px 0; text-indent: 8px; font-size: 14px; line-height: 1.1; font-weight: 500;}

.view-content-container .mt8{margin-top: 8px;}
.view-content-container .ml5{margin-left: 5px;}
.view-content-container .mt16{margin-top: 16px;}
.view-content-container .date-step-span {display: inline-block; line-height: 32px; text-align: center; width: 32px;}
.view-content-container .w60{width: 60px!important;}
.view-content-container .w70{width: 70px!important;display: inline-block;}
.view-content-container .w120{width: 120px!important;}
.view-content-container .w130{width: 130px!important;}
.view-content-container .w150{width: 150px!important;}
.view-content-container .w160{width: 160px!important;}
.view-content-container .w220{width: 220px!important;}
.view-content-container .h400{height: 400px!important;}

.pagination-info {color: #888;display: inline-block; padding: 0 16px; vertical-align: middle;}
.pagination-goto {display: inline-block; padding: 0 15px; vertical-align: middle;}
.pagination-goto input.w40{display: inline-block; margin-right: 6px; width: 40px;}
.pagination-goto .btn {padding: 8px;}
tfoot{background-color: #f5f6fa;}
tfoot span{margin-right: 10px;}

.view-content-container span.refund-content{word-wrap: break-word;word-break:break-all;}
label.control-label{color: #666; font-size: 12px; font-weight: normal;}
.form-control-wrap{display: inline-block; vertical-align: middle; padding: 0 5px;}
.form-control-wrap select {margin-left: -5px;}/*Ã¥Â¢Å¾Ã¥Å Â Ã¥ÂÅ’Ã¨Â¡Å’Ã¨Â¡Â¨Ã¥Ââ€¢selectÃ¨Â·ÂÃ¥Â·Â¦Ã¨Â¾Â¹Ã¨Â·ÂBUG*/
.form-control-wrap span,.form-control-wrap input{display: inline-block;}
.form-control-wrap span{ color:#999; margin-left: 6px; }

/*ç®€ä»‹æ¡†æ ·å¼fieldset*/
.console-sub-title{position:relative;padding-left:16px;margin-bottom:-1px;display:table;width:100%;z-index:1;height:40px;border:1px solid #E1E6EB;border-left:3px solid #778;background-color:#F4F5F9}
.console-sub-title h5{color:#666;font-size:14px}
.console-sub-title+.table{margin-top:0px}
.form-wrap{border: 1px solid #ddd;border-top: 1px solid transparent; padding: 30px 0; margin-bottom: 15px;}

/*é‡å†™ä¸Šä¼ ç¼©ç•¥å›¾æ ·å¼*/
.thumb-wrap .file-preview-frame,.thumb-wrap .file-preview-frame:hover {margin: 0;padding: 0;border: none;box-shadow: none;text-align: center;}
.thumb-wrap .file-input {display: table-cell;max-width: 170px;min-width: 170px;}
.thumb-wrap .file-input img{width: 160px !important;}
.thumb-wrap .file-thumbnail-footer{display: none;}

/*é¡¶éƒ¨è¿”å›ž*/
.btn-toinstlist {border: 1px solid #bbb; color: #666; margin-top: 7px; text-shadow: none; vertical-align: middle;}
.btn-toinstlist .icon-toinstlist {display: inline-block; height: 12px; vertical-align: middle; width: 12px;}

/*åŠ è½½æ•°æ®*/
.loding-wrap{text-align: center;margin: 50px auto 0;width:32px;height:32px;position: fixed;left: 50%;transform: translateX(-50%);z-index: 9999999;}
.loding-wrap .spinner{position: relative; width: 0px; z-index: 999; left: 24px; top: 24px;}
.loding-wrap .spinner>div{position: absolute; top: -2px; opacity: 0.25;
    -webkit-animation-duration:1s; 
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
}
.loding-wrap .spinner>div>div{position: absolute; width: 11px; height: 5px; background: rgb(0, 0, 0); box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px; transform-origin: left center 0px;border-radius: 2px;}

/*æ·»åŠ ç”¨æˆ·*/
.basic-group-info .w40{display: inline-block; margin-right: 6px; width: 40px;}
.basic-group-info .lh220{line-height: 220%};
@keyframes opacity-100-25-0-10 {
    0% {
        opacity: 0.250075;
    }
    0.01% {
        opacity: 0.25;
    }
    0.02% {
        opacity: 1;
    }
    0.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.250075;
    }
}
@-webkit-keyframes opacity-100-25-0-10 {
    0% {
        opacity: 0.250075;
    }
    0.01% {
        opacity: 0.25;
    }
    0.02% {
        opacity: 1;
    }
    0.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.250075;
    }
}

@keyframes opacity-100-25-1-10 {
    0% {
        opacity: 0.325075;
    }
    10.01% {
        opacity: 0.25;
    }
    10.02% {
        opacity: 1;
    }
    10.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.325075;
    }
}

@-webkit-keyframes opacity-100-25-1-10 {
    0% {
        opacity: 0.325075;
    }
    10.01% {
        opacity: 0.25;
    }
    10.02% {
        opacity: 1;
    }
    10.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.325075;
    }
}

@keyframes opacity-100-25-2-10 {
    0% {
        opacity: 0.400075;
    }
    20.01% {
        opacity: 0.25;
    }
    20.02% {
        opacity: 1;
    }
    20.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.400075;
    }
}

@-webkit-keyframes opacity-100-25-2-10 {
    0% {
        opacity: 0.400075;
    }
    20.01% {
        opacity: 0.25;
    }
    20.02% {
        opacity: 1;
    }
    20.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.400075;
    }
}


@keyframes opacity-100-25-3-10 {
    0% {
        opacity: 0.475075;
    }
    30.01% {
        opacity: 0.25;
    }
    30.02% {
        opacity: 1;
    }
    30.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.475075;
    }
}

@-webkit-keyframes opacity-100-25-3-10 {
    0% {
        opacity: 0.475075;
    }
    30.01% {
        opacity: 0.25;
    }
    30.02% {
        opacity: 1;
    }
    30.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.475075;
    }
}

@keyframes opacity-100-25-4-10 {
    0% {
        opacity: 0.550075;
    }
    40.01% {
        opacity: 0.25;
    }
    40.02% {
        opacity: 1;
    }
    40.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.550075;
    }
}

@-webkit-keyframes opacity-100-25-4-10 {
    0% {
        opacity: 0.550075;
    }
    40.01% {
        opacity: 0.25;
    }
    40.02% {
        opacity: 1;
    }
    40.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.550075;
    }
}


@keyframes opacity-100-25-5-10 {
    0% {
        opacity: 0.625075;
    }
    50.01% {
        opacity: 0.25;
    }
    50.02% {
        opacity: 1;
    }
    50.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.625075;
    }
}

@-webkit-keyframes opacity-100-25-5-10 {
    0% {
        opacity: 0.625075;
    }
    50.01% {
        opacity: 0.25;
    }
    50.02% {
        opacity: 1;
    }
    50.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.625075;
    }
}

@keyframes opacity-100-25-6-10 {
    0% {
        opacity: 0.700075;
    }
    60.01% {
        opacity: 0.25;
    }
    60.02% {
        opacity: 1;
    }
    60.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.700075;
    }
}

@-webkit-keyframes opacity-100-25-6-10 {
    0% {
        opacity: 0.700075;
    }
    60.01% {
        opacity: 0.25;
    }
    60.02% {
        opacity: 1;
    }
    60.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.700075;
    }
}

@keyframes opacity-100-25-7-10 {
    0% {
        opacity: 0.775075;
    }
    70.01% {
        opacity: 0.25;
    }
    70.02% {
        opacity: 1;
    }
    70.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.775075;
    }
}

@-webkit-keyframes opacity-100-25-7-10 {
    0% {
        opacity: 0.775075;
    }
    70.01% {
        opacity: 0.25;
    }
    70.02% {
        opacity: 1;
    }
    70.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.775075;
    }
}

@keyframes opacity-100-25-8-10 {
    0% {
        opacity: 0.850075;
    }
    80.01% {
        opacity: 0.25;
    }
    80.02% {
        opacity: 1;
    }
    80.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.850075;
    }
}

@-webkit-keyframes opacity-100-25-8-10 {
    0% {
        opacity: 0.850075;
    }
    80.01% {
        opacity: 0.25;
    }
    80.02% {
        opacity: 1;
    }
    80.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.850075;
    }
}

@keyframes opacity-100-25-9-10 {
    0% {
        opacity: 0.925075;
    }
    90.01% {
        opacity: 0.25;
    }
    90.02% {
        opacity: 1;
    }
    90.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.925075;
    }
}

@-webkit-keyframes opacity-100-25-9-10 {
    0% {
        opacity: 0.925075;
    }
    90.01% {
        opacity: 0.25;
    }
    90.02% {
        opacity: 1;
    }
    90.01% {
        opacity: 0.25;
    }
    100% {
        opacity: 0.925075;
    }
}


/*ä¸Šä¼ æŒ‰é’®*/
.single-file .btn-file input[type=file]{position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;text-align: right;opacity: 0;background: none;cursor: inherit;display: block;}
.single-file .preview img{width: auto;height: auto;border:1px solid #ddd;padding: 5px;border-radius: 3px;margin-bottom: 10px;}


/* åœ¨çº¿å®¢æœèŠå¤©å†…å®¹ */

#chat_list{overflow: hidden;clear:both;padding:8px}
#loadmore{clear:both;height:35px;line-height:35px;text-align:center;cursor:pointer;color:#CCC;}
#loadmore a{color:#333}
.chat_content{clear: both;padding-bottom: 12px;overflow: hidden;}
.chat_content .chat_user_header{height: 30px;width: 30px;border-radius: 15px;float: left;overflow: hidden;margin-right: 12px;margin-top: 2px;}
.chat_content.chat_myself .chat_user_header{float: right;margin-left: 12px;margin-right: 0;}
.chat_content .chat_msg_con{float: left;}
.chat_content.chat_myself .chat_msg_con{float: right;}
.chat_content .chat_user{color: #999;float: left;overflow: hidden;}
.chat_content.chat_myself .chat_user{float: right;}
.chat_content .chat_user *{margin-right: 10px;}
.chat_content.chat_myself .chat_user *{margin-right: 0;margin-left: 10px;}
.chat_content .chat_user .chat_name{font-family: "Ã¥Â®â€¹Ã¤Â½â€œ"}
.chat_content .chat_user .chat_curtime{font-family: "Arial"}
.chat_content .chat_say{ clear: both;float: left; background: #fff;padding: 5px 10px;line-height: 22px;font-size: 14px;background: #eee;border-radius: 3px;position: relative;color: #333;max-width: 490px;word-break: break-all;word-wrap:break-word;margin-top: 5px;}
.chat_content .chat_say img{max-width:470px;}
.chat_content.chat_myself .chat_say{float: right;background: #f3922b;color: #fff;}
.chat_content .chat_say .chat_left_zero{height: 10px;width: 8px;background: url(../img/chat/arrow_left.png);display: inline-block;position: absolute;top: 6px;left: -8px;}
.chat_content .chat_say .chat_right_zero{height: 10px;width: 8px;background: url(../img/chat/arrow_right.png);display: inline-block;position: absolute;top: 6px;right: -8px;}
.ml5{margin-left:5px;}
.viewpnload{text-align:center;padding:5px 0px;clear:both;}
.viewpnload a{color:#333;display:inline-block;line-height:20px;padding:0px 8px;background:#FAFAFA;border:1px solid #eee}
#search_lists{padding:8px;}
.product-push {overflow: hidden;width:270px;}
.product-push a {display: block; padding: 0.266667rem;}
.product-push .img {display: inline-block;width:80px;height:60px;float: left;margin-right:8px;}
.product-push .img img { width: 100%;}
.product-push h3 {font-size:14px;color:#333;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;margin:0px;}
.product-push p.price {font-size:14px;color: #893e20;margin-top: 0.24rem;}

/*æ‰¾èŒ¶-ç›¸å†Œ*/
/*.album-group-info{min-width: 1250px;}*/
.album-list{border:1px solid #ddd;overflow: hidden;}

.album-list .album-item{height: 176px; padding: 20px 0 20px 30px;position: relative;}

.album-list .album-item:last-child{margin-bottom: 20px;}
.album-list .album-item .album-pic{height: 155px;width: 135px;}
.album-list .album-item .album-pic img{display: block;vertical-align: top;height: 113px;width: 135px;}

.album-list .album-item .album-pic .btn{position: absolute;}
.album-list .album-item .album-pic button.btn{left: 114px;}


.album-list .album-item .album-txt{height: 113px;margin-left: 10px;}
.album-list .album-item .album-txt .sort{line-height: 32px;overflow: hidden;height: 32px;margin-bottom: 10px;}

/* ä¸‹æ‹‰æœç´¢ */
.suggestionsBox {position: absolute;width:96.5%;background-color: #fff;-moz-border-radius: 3px;-webkit-border-radius: 3px;border: 1px solid #ccc;color: #000;z-index:1000;}
.suggestionList {margin:10px;}
.suggestionList li {margin: 0px 0px 3px 0px;padding: 3px 0;cursor: pointer;list-style:none;}
.suggestionList li:hover {background-color: #ebffee; color:#ff0000;}


/*é€‰æ‹©æ ‡ç­¾*/
.pad-10 {padding: 10px;overflow: hidden}
.aui_outer{ border:1px solid rgba(0, 0, 0, .3)!important; border:1px solid #333\9!important;border-radius:3px;}
.aui_border { border-radius:2px; box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:8px; height:8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .2); background:#000\9!important; filter:alpha(opacity=20); }
.aui_state_focus .aui_inner {background:#FFF;box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:28px; line-height:27px; padding:0 28px 0 10px; text-shadow:0 1px 0 rgba(18, 91, 167, .7); background-color:#edf5f8; font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important; background-color:#bdc6cd; background: linear-gradient(top, #2673c4, #75a6da); background: -moz-linear-gradient(top, #2673c4, #75a6da); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2673c4), to(#75a6da)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2673c4', endColorstr='#75a6da'); border-top:1px solid #1e6bbc; border-bottom:1px solid #699bd1; }
.aui_state_focus .aui_title { color:#fff; font-size:14px}
.aui_close {position: absolute;padding:0; top:3px; right:3px; width:21px; height:21px; line-height:21px; font-size:18px; color:#fff; text-align:center; font-family: Helvetica, STHeiti; _font-family: '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(18, 91, 167, .9); }
.aui_close:hover {color:#C72015; }
.aui_close:active {box-shadow: none; }
.aui_content {color:#666;}
.aui_state_focus .aui_content {color:#000;}
.aui_state_focus .input-text{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;background: #FFF url(../img/input.png) repeat-x; font-family: Verdana, 'Geneva', sans-serif, 'å®‹ä½“';font-size:12px;}
/*é€šç”¨è¡¨å•*/
.common-form div.contentWrap{padding-right:20px}
.common-form ul li{color:#444; clear:both; vertical-align:middle}
.common-form ul li span.text{width:60px}
.common-form .set{border:1px dashed #e0e7ed;zoom:1; background:#f2f7fb; padding:10px; font-size:12px; margin-bottom:10px}
.common-form .set table td,.common-form .set table th{padding-left:12px}
.common-form .set table th{font-weight:normal; text-align:left;padding:0 8px}
.common-form .set table td{ padding:3px 0 3px 5px}
.common-form .set table td input{ background-image:none; height:18px; font-size:12px}
/*è¡¨æ ¼è¡¨å•*/
.table_form{font-size:12px}
.table_form td{padding-left:12px}
.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle;text-align: right;padding: 0 9px;line-height: 32px}
.table_form td,.table_form th{padding:4px 0 4px 8px}
.table_form tbody td,.table_form tbody th{border-bottom:1px solid #eee; }
.table_form td .all-check{text-align: right;font-weight: bold;color: #000}
.table_form .active{display: block;}
.mall-tag-menu{display: inline-block;background: #eee;border:1px solid #ddd;height: 18px;width: 18px;vertical-align: middle;margin-right: 10px;text-align: center;line-height: 18px;font-size: 16px}
.tag_inp{width: 99%}
.tag_txt{color: #999;line-height: 24px}
/*æŒ‰é’®*/
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 12px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #3399dd; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#1c6a9e; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }


/*å•†å“è§„æ ¼*/

.alone-box .left-box {overflow-y: scroll;overflow-x: hidden;margin-top: 10px;}
.alone-box .left-box li{height: 24px;line-height: 24px;}
.alone-box .left-box li:hover{background: #f7f7f7; }
.alone-box .left-box li a{color: #333; display: block;width: 100%; padding-left: 10px; outline: none;text-decoration: none;}
.alone-box .right-box .spec-box{border: 1px solid #e1e6eb;overflow:hidden;zoom:1;word-break: break-all;word-wrap: break-word;table-layout: fixed;margin: 10px 0;}
.alone-box .right-box .spec-box .head{background: #f5f6fa;height: 34px;padding-left: 10px;border-bottom: 1px solid #e1e6eb;}
.alone-box .right-box .spec-box .spec-values{margin: 10px;}

/*ä¸€å…ƒå¤ºå®ä¸­å¥–*/
.praise_wrap{width:80px; height: 70px; display: block; background: url(../img/duobao/praise.png); position: absolute; right: 50px; top: 10px;}

/*èŒ¶è¯„å›¾ç‰‡å®½åº¦æŽ§åˆ¶*/
.reviewHtml img{max-width:100px;}

/*é˜¿é‡Œäº‘è§†å±ä¸Šä¼ */
.aliyun-video{padding-top: 10px}
.aliyun-video input[type='file']{position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;text-align: right;opacity: 0;background: none;cursor: inherit;display: block;}
.aliyun-video .progress{height: 12px;border-radius: 6px;margin-top: 10px;position: relative;}
.aliyun-video .progress-bar{border-radius: 6px;color: #fff;line-height: 12px}
.aliyun-video .files-name{margin-right: 20px}