<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>圈子列表</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-index-index">
		<div class="view-content-container" >
			<div class="row">
				<div class="col-sm-12">
					<div class="console-title console-title-border clearfix">
						<div class="pull-left">
							<h5>文章列表</h5>
						</div>
						<div class="pull-right">
							<a class="btn btn-primary btn-open" config-href="{F:url('article_edit/edit',array('column_id'=>$param['column_id']))}" config-width="90%" config-height="800px">添加</a>
						</div>
					</div>
					<form class="form-inline ng-pristine ng-valid" action=""  method="get">
                        <div class="form-group">
                        	<select class="form-control" data-selected="{??$param['column_id']}" name="param[column_id]">
                            	{loop $other['columnListCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                        	<select class="form-control" data-selected="{??$param['is_show']}" name="param[is_show]">
                                <option value="">选择状态</option>
                                {loop $other['isShowCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                            <select class="form-control" data-selected="{??$param['is_recommend']}" name="param[is_recommend]">
                                <option value="">选择推荐状态</option>
                                {loop $other['isRecommendCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                            <select class="form-control" data-selected="{??$param['field']}" name="param[field]">
                                <option value="">请选择搜索条件</option>
                                <option value="title">标题</option>
                            </select>
                            <input type="text" class="form-control w120" placeholder="Search" name="param[keyword]" value="{??$param['keyword']}" >
                            <button type="submit" class="btn btn-default">搜索</button>
                        </div>
                    </form>
					<div class="console-form">
						<div class="mt8">
							<form>
								<table class="table table-hover">
									<thead>
										<tr>
											<th style="width:75px;">ID</th>
											<th style="width:120px;">图集</th>
											<th>摘要</th>
											<th style="width:120px;">用户昵称</th>
											<th style="width:120px;">发布时间</th>
											<th style="width:70px;">审核状态</th>
											<th style="width:70;">删除状态</th>
											<th style="width:120px; text-align:center;">编辑/操作</th>
										</tr>
									</thead>
									<tbody>
										{loop $list $key $value}
									 	<tr v-for="list in data.list">
											<td>{$value['id']}</td>
											<td>
												{loop $value['ablum'] $v}
													<img src="{F:imgUrl($v,'circle')}" width="50" />
												{/loop}
											</td>
											<td>{$value['description']}</td>
											<td>{$value['user']['nickname']}</td>
											<td>{F:date('Y-m-d H:i',$value['created'])}</td>
											<td>{$other['statusCopy'][$value['status']]}</td>
											<td>{$other['delStatusCopy'][$value['del_status']]}</td>
											<td align='center'>
												<a config-href="{F:url('edit',array('column_id'=>$value['column_id'],'id'=>$value['id']))}" config-title="编辑文章" config-width="90%"  config-height="800px" class="btn-open">编辑</a>
												<span class="text-explode">|</span>
												<a config-href="{F:url('del_article')}" class="btn-ajax-post" config-tips="确定删除【{$value['title']}】?" data-id="{$value['id']}">删除</a>
											</td>
										</tr>
										{/loop}
									</tbody>
									<tfoot>
							          	<tr>
          									<td colspan="13">{$pages}</td>
          								</tr>
									</tfoot>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>