{if count($this->lg) > 1}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active">
		<a href="#home" aria-controls="home" role="tab" data-toggle="tab">基础信息</a>
	</li>
	{if in_array('en',$this->lg)}
    <li role="presentation">
    	<a href="#en" aria-controls="en" role="tab" data-toggle="tab">英文版</a>
    </li>
    {/if}

    {if in_array('jp',$this->lg)}
    <li role="presentation">
    	<a href="#jp" aria-controls="jp" role="tab" data-toggle="tab">日文版</a>
    </li>
    {/if}
</ul>
{/if}