<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-index-index">
		<div class="view-content-container" >
			<div class="row">
				<div class="col-sm-12">
					<div class="console-title console-title-border clearfix">
						<div class="pull-left">
							<h5>抵扣券模板列表</h5>
						</div>
					</div>
					<form class="form-inline ng-pristine ng-valid" action=""  method="get">
                        <div class="form-group">
                    	  	<select class="form-control" data-selected="{??$param['category']}" name="param[category]">
                            	<option value="">选择分类</option>
                            	{loop $other['categoryCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                        	<select class="form-control" data-selected="{??$param['type']}" name="param[type]">
                                <option value="">选择类型</option>
                                {loop $other['typeCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                            <select class="form-control" data-selected="{??$param['status']}" name="param[status]">
                                <option value="">选择状态</option>
                                {loop $other['statusCopy'] $key $value}
                               		<option value="{$key}">{$value}</option>
                            	{/loop}
                            </select>
                            <select class="form-control" data-selected="{??$param['field']}" name="param[field]">
                                <option value="">请选择搜索条件</option>
                                <option value="title">标题</option>
                            </select>
                            <input type="text" class="form-control w120" placeholder="Search" name="param[keyword]" value="{??$param['keyword']}" >
                            <button type="submit" class="btn btn-default">搜索</button>
                        </div>
                    </form>
					<div class="console-form">
						<div class="mt8">
							<form>
								<table class="table table-hover">
									<thead>
										<tr>
											<th style="width:75px;">ID</th>
											<th>标题</th>
											<th style="width:100px;text-align: center;">所属店铺</th>
											<th style="width:100px;text-align: center;">使用类型</th>
											<th style="width:80px;text-align: center;">折扣类型</th>
											<th style="width:120px;">开始时间</th>
											<th style="width:120px;">结束时间</th>
											<th style="width:100px;text-align: center;">发放数量</th>
											<th style="width:100px;text-align: center;">剩余数量</th>
											<th style="width:120px;">状态</th>
											
										</tr>
									</thead>
									<tbody>
										{loop $list $key $value}
									 	<tr v-for="list in data.list">
											<td>{$value['id']}</td>
											<td>{$value['title']}</td>
											<td align="center">{$value['seller']['nickname']}</td>
											<td align="center">{$other['categoryCopy'][$value['category']]}</td>
											<td align="center">{$other['typeCopy'][$value['type']]}</td>
											<td>{F:date('Y-m-d H:i',$value['start_time'])}</td>
											<td>{F:date('Y-m-d H:i',$value['end_time'])}</td>
											<td align="center">{$value['num']}</td>
											<td align="center">{$value['remainder_num']}</td>
											<td>{$other['statusCopy'][$value['status']]}</td>
											
										</tr>
										{/loop}
									</tbody>
									<tfoot>
							          	<tr>
          									<td colspan="13">{$pages}</td>
          								</tr>
									</tfoot>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>