<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-setting-menus-edit">
		<div class="modal-content">
			<div class="modal-body clearfix">
				<form class="form-horizontal" action="">
					<input type="hidden" value="{??$data['id']}" name="id">	
					<div class="panel">
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<label class="control-label col-sm-3">
										<span class="text-danger">*</span>
										<span>参数名称</span>
									</label>
									<div class="col-sm-8">
										<input type="text" value="{??$data['name']}" name="name" placeholder="菜单名称" class="form-control">	
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">
										<span class="text-danger">*</span>
										<span>类型</span>
									</label>
									<div class="col-sm-8">
										<select name="type" class="form-control w160" data-selected="{??$data['type']}">
											{loop $other['typeCopy'] $key $value}
											<option value="{$key}" >{$value}</option>
											{/loop}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">
										<span class="text-danger">*</span>
										<span>参数选项</span>
									</label>
									<div class="col-sm-8">
										<textarea class="form-control" name="option">{??$data['option']}</textarea>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-comply">确定</button>
						<button type="button" class="btn btn-default" id="btn-close">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>