<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-setting-menus-index">
		<div class="view-content-container" >
			<div class="row">
				<form class="form-horizontal" action="{F:url('menus/update_sort')}">
					<div class="col-sm-12">
						<div class="console-title console-title-border clearfix">
							<div class="pull-left">
								<h5>栏目列表</h5>
							</div>
							<div class="pull-right">
								<a class="btn btn-primary btn-open" config-href="{F:url('edit')}"  config-height="750px">添加菜单</a>
								<a class="btn btn-primary btn-comply">更新排序</a>
							</div>
						</div>
						<p class="bg-info">点击栏目名称 进入列表页</p>
						<div class="console-form">
							<div class="mt8">
									<table class="table table-hover">
										<thead>
											<tr>
												<th style="width:70px;">#</th>
												<th style="width:75px;">ID</th>
												<th>菜单名称</th>
												<th style="width:80px; text-align:center;">显示</th>
												<th style="width:160px; text-align:center;">编辑/操作</th>
											</tr>
										</thead>
										<tbody>
											{loop $list $key $value}
										 	<tr>
										 		<td align="center"><input type="text" class="form-control" value="{$value['sort']}" name="id[{$value['id']}]"></td>
												<td>{$value['id']}</td>
												<td>
													<a href="{$value['url']}?param[column_id]={$value['id']}" target="iframe0" style="display: block;width: 100%;">
														<span>{$value['delimiter']}</span>
														{if !$value['is_show']}
														<span style="color: red">[隐]</span>
														{/if}
														{$value['name']}
													</a>
												</td>
												<td align='center'>{$value['is_show_copy']}</td>
												<td align='center'>
													<a class="btn-open" config-href="{F:url('edit',array('parentid'=>$value['id']))}" config-title="编辑菜单" config-height="90%" data-parentId="list.id">添加子菜单</a>
													<span class="text-explode">|</span>
													<a class="btn-open" config-href="{F:url('edit',array('id'=>$value['id']))}" config-title="编辑菜单" data-id="list.id"  config-height="90%" config-tooltip="{$value['name']}">编辑</a>
													<span class="text-explode">|</span>
													<a class="btn-ajax-post" config-href="{F:url('delete')}" data-id="{$value['id']}" config-tips="确定删除【{$value['name']}】?<br/>请谨慎操作！删除后不可恢复！不可恢复">删除</a>
												</td>
											</tr>
											{/loop}
										</tbody>
									</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>