<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
	<meta name="keywords" content=""/>
	<title>后台管理</title>
	{include /public/global_css}
</head>
  	<body>
	<div id="console-content-index-index">
		<div class="view-content-container" >
			<div class="row">
				<div class="col-sm-12">
					<div class="console-title console-title-border clearfix">
						<div class="pull-left">
							<h5>推荐列表</h5>
						</div>
						<div class="pull-right">
							<a class="btn btn-primary btn-open"  config-href="{F:url('add_recommend')}"  config-height="500px" config-width="356px">添加推荐</a>
						</div>
					</div>

					<form class="form-inline ng-pristine ng-valid" action=""  method="get">
                        <div class="form-group">
                            <select class="form-control" name="field" data-selected="{??$param['field']}">
                                <option value="value">内容</option>
                            </select>
                            <input type="text" class="form-control w120" placeholder="Search" name="keyword" value="{??$param['keyword']}" >
                            <button type="submit" class="btn btn-default" @click="search()">搜索</button>
                        </div>
                    </form>
					<div class="console-form">
						<div class="mt8">
							<form>
								<table class="table table-hover">
									<thead>
										<tr>
											<th style="width:75px;">ID</th>
											<th style="width:100px;">类型</th>
											<th>关键词</th>
											<th style="width:160px; text-align:center;">状态</th>
											<th style="width:160px; text-align:center;">操作</th>
										</tr>
									</thead>
									<tbody>
										{loop $list $key $value}
									 	<tr v-for="list in list">
											<td>{$value['id']}</td>
											<td>{$other['typeCopy'][$value['type']]}</td>
											<td>{$value['value']}</td>
											<td align='center'>
												{if $value['status']}
													<a config-href="{F:url('change_status')}" data-type="SearchRemmond" data-id="{$value['id']}" data-status="0" style="color: green" class="btn-ajax-post">启用</a>
												{else}
													<a config-href="{F:url('change_status')}" data-type="SearchRemmond" data-id="{$value['id']}" data-status="1" style="color: red" class="btn-ajax-post">禁用</a>
												{/if}
											</td>
											<td align='center'>
												<a config-href="{F:url('del')}" data-table="SearchRemmond" data-type="{$value['type']}" data-value="{$value['value']}"  class="btn-ajax-post">删除</a>
											</td>
										</tr>
										{/loop}
									</tbody>
								    <tfoot>
							          	<tr>
          									<td colspan="13">{$pages}</td>
          								</tr>
									</tfoot>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{include /public/global_js}
	<script type="text/javascript">
	</script>
</body>
</html>